/*!
 * baguetteBox.js
 * @author  feimosi
 * @version 1.11.1
 * @url https://github.com/feimosi/baguetteBox.js
 */#baguetteBox-overlay{display:none;opacity:0;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:1000000;background-color:#222;background-color:rgba(0,0,0,.8);transition:opacity .5s ease}#baguetteBox-overlay.visible{opacity:1}#baguetteBox-overlay .full-image{display:inline-block;position:relative;width:100%;height:100%;text-align:center}#baguetteBox-overlay .full-image figure{display:inline;margin:0;height:100%}#baguetteBox-overlay .full-image img{display:inline-block;width:auto;height:auto;max-height:100%;max-width:100%;vertical-align:middle;box-shadow:0 0 8px rgba(0,0,0,.6)}#baguetteBox-overlay .full-image figcaption{display:block;position:absolute;bottom:0;width:100%;text-align:center;line-height:1.8;white-space:normal;color:#ccc;background-color:#000;background-color:rgba(0,0,0,.6);font-family:sans-serif}#baguetteBox-overlay .full-image:before{content:"";display:inline-block;height:50%;width:1px;margin-right:-1px}#baguetteBox-slider{position:absolute;left:0;top:0;height:100%;width:100%;white-space:nowrap;transition:left .4s ease,transform .4s ease}#baguetteBox-slider.bounce-from-right{animation:bounceFromRight .4s ease-out}#baguetteBox-slider.bounce-from-left{animation:bounceFromLeft .4s ease-out}@keyframes bounceFromRight{0%,100%{margin-left:0}50%{margin-left:-30px}}@keyframes bounceFromLeft{0%,100%{margin-left:0}50%{margin-left:30px}}.baguetteBox-button#next-button,.baguetteBox-button#previous-button{top:50%;top:calc(50% - 30px);width:44px;height:60px}.baguetteBox-button{position:absolute;cursor:pointer;outline:0;padding:0;margin:0;border:0;border-radius:15%;background-color:#323232;background-color:rgba(50,50,50,.5);color:#ddd;font:1.6em sans-serif;transition:background-color .4s ease}.baguetteBox-button:focus,.baguetteBox-button:hover{background-color:rgba(50,50,50,.9)}.baguetteBox-button#next-button{right:2%}.baguetteBox-button#previous-button{left:2%}.baguetteBox-button#close-button{top:20px;right:2%;right:calc(2% + 6px);width:30px;height:30px}.baguetteBox-button svg{position:absolute;left:0;top:0}.baguetteBox-spinner{width:40px;height:40px;display:inline-block;position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-20px}.baguetteBox-double-bounce1,.baguetteBox-double-bounce2{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;animation:bounce 2s infinite ease-in-out}.baguetteBox-double-bounce2{animation-delay:-1s}@keyframes bounce{0%,100%{transform:scale(0)}50%{transform:scale(1)}}
/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNovaT-Thin.eot?34e2ad51497e119a65eabd5336306aff);
  src: local("ProximaNova-Thin"), url(/fonts/ProximaNovaT-Thin.woff?10beeac5b6a46a7cef4962d9bffb6aca) format("woff"), url(/fonts/ProximaNovaT-Thin.woff2?bd087ed2c1c95fc74e2c8e4de2a05a52) format("woff2"), url(/fonts/ProximaNovaT-Thin.ttf?47dd23edd9ce9f2122b8eb54d266d3bf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-ThinIt.eot?2fc09bf975dabcf05ce7bd96df68bd1f);
  src: local("ProximaNova-ThinItalic"), url(/fonts/ProximaNova-ThinIt.woff?3966dfa7460bce6f7d1e89811fa06b4f) format("woff"), url(/fonts/ProximaNova-ThinIt.woff2?97a93c2ad8e51635bf3ef64265c9cdb9) format("woff2"), url(/fonts/ProximaNova-ThinIt.ttf?ae45624ec572be49fd2f8bff957ba9df) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-Light.eot?21ab0a9e2aedf57a6a2d4a3e71066ca3);
  src: local("ProximaNova-Light"), url(/fonts/ProximaNova-Light.woff?7990e5187e35346a1a4187485f3d9079) format("woff"), url(/fonts/ProximaNova-Light.woff2?862957f462a3cd7122294855b076da74) format("woff2"), url(/fonts/ProximaNova-Light.ttf?4e6430d1b1cdd53aab1db777a7684a59) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-LightIt.eot?225bb7458895c1a0ae1a6a80e2e58c8c);
  src: local("ProximaNova-LightItalic"), url(/fonts/ProximaNova-LightIt.woff?4b600aa9aebee4a852d8ff1cbb813355) format("woff"), url(/fonts/ProximaNova-LightIt.woff2?d66c18cb363b339c88587d4c7ad186f4) format("woff2"), url(/fonts/ProximaNova-LightIt.ttf?5a76d7bf8d6b966c72a6b4fd9a67179c) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-Regular.eot?c23787c599b4dd8170428e4cc3f6b5e2);
  src: local("ProximaNova-Regular"), url(/fonts/ProximaNova-Regular.woff?3d59ce3e9d6f49acb2856a03aed17f53) format("woff"), url(/fonts/ProximaNova-Regular.woff2?c4c3616c5577f9e7ef87762dea50caa2) format("woff2"), url(/fonts/ProximaNova-Regular.ttf?db098dc77c7aafe660e58e9eb280be48) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-RegularIt.eot?9f23a4db26405cd422eef1ed6d75db25);
  src: local("ProximaNova-RegularItalic"), url(/fonts/ProximaNova-RegularIt.woff?c3a30ca6410d18a5d3ce2d0b782b3ebe) format("woff"), url(/fonts/ProximaNova-RegularIt.woff2?1836fee18c601d34fdd122bee7889520) format("woff2"), url(/fonts/ProximaNova-RegularIt.ttf?20670ec5ea004ba0f2458164d1e3511d) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-Semibold.eot?4d27e5226f713cef179cb7e8ac77ac43);
  src: local("ProximaNova-Semibold"), url(/fonts/ProximaNova-Semibold.woff?9d060ce65c8a91d38e218db97dd82463) format("woff"), url(/fonts/ProximaNova-Semibold.woff2?54b9eb90d4b941f9371e1be637ce2c57) format("woff2"), url(/fonts/ProximaNova-Semibold.ttf?dfa26f09d155df035c988cf5583a2f6e) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-SemiboldIt.eot?803f8d87d0e52f6cf2b6cfe72e90c294);
  src: local("ProximaNova-SemiboldItalic"), url(/fonts/ProximaNova-SemiboldIt.woff?60d9f0635eb3772a59cea59ebdb18f79) format("woff"), url(/fonts/ProximaNova-SemiboldIt.woff2?831919c14a1e520ed266076af9f8f7b1) format("woff2"), url(/fonts/ProximaNova-SemiboldIt.ttf?c9778e1aedc5295c736abbc62f604bc6) format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-Bold.eot?c5ff80442dbd79aac20396de28b2e295);
  src: local("ProximaNova-Bold"), url(/fonts/ProximaNova-Bold.woff?7bbe1c8847f08b1633a0b59bcbe65ce0) format("woff"), url(/fonts/ProximaNova-Bold.woff2?c84883dfcd4817e310dfe170d72183c5) format("woff2"), url(/fonts/ProximaNova-Bold.ttf?f3c7fec78a9f7f598801305248ea55e1) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-BoldIt.eot?92a839be54b62fe161202c08be3fa470);
  src: local("ProximaNova-BoldItalic"), url(/fonts/ProximaNova-BoldIt.woff?df2baac3f60d176736faed7517b472f1) format("woff"), url(/fonts/ProximaNova-BoldIt.woff2?39f4cb8ef8e77ab36b01a2daabd2ed36) format("woff2"), url(/fonts/ProximaNova-BoldIt.ttf?2c76cdfd6db71de92a86e30cf88ab86c) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-Extrabld.eot?3f4f4600abeb47524995cb35e39f2e41);
  src: local("ProximaNova-Extrabld"), url(/fonts/ProximaNova-Extrabld.woff?c611b0015a7f48f62cfcac8f198b71b2) format("woff"), url(/fonts/ProximaNova-Extrabld.woff2?51e73062e691a23fb801743a1c5d6f64) format("woff2"), url(/fonts/ProximaNova-Extrabld.ttf?b27eab22dedaf4921b60477ffbd8e727) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-ExtrabldIt.eot?25b0de0b3a368c309c4aa9c111c42554);
  src: local("ProximaNova-ExtrabldItalic"), url(/fonts/ProximaNova-ExtrabldIt.woff?786e72f7af4d3eab32142d1371102644) format("woff"), url(/fonts/ProximaNova-ExtrabldIt.woff2?af60ff7198ca4ee2b23acd4175eeacb3) format("woff2"), url(/fonts/ProximaNova-ExtrabldIt.ttf?5d3eabe65134016f3e5e113c9740c8ec) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-Black.eot?2732ca46b450fe27889fd2e0c6b5c78f);
  src: local("ProximaNova-Black"), url(/fonts/ProximaNova-Black.woff?6cad02f9c130d1496ea5f2bd6a5771d0) format("woff"), url(/fonts/ProximaNova-Black.woff2?5eca80c598e6bc1bd4af2adea7444759) format("woff2"), url(/fonts/ProximaNova-Black.ttf?8bd42e12512786278deb482442f6706e) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/ProximaNova-BlackIt.eot?b925af5428666ecc484481261208ef26);
  src: local("ProximaNova-BlackItalic"), url(/fonts/ProximaNova-BlackIt.woff?d0dd93331e023bd36be4a7c2ff1cba8c) format("woff"), url(/fonts/ProximaNova-BlackIt.woff2?08cbfafd0c3148a2b09ab61bfc58a1bb) format("woff2"), url(/fonts/ProximaNova-BlackIt.ttf?411bd9ef46e30f07b31852c94da99d6d) format("truetype");
  font-weight: 900;
  font-style: italic;
}
* {
  font-family: "Proxima Nova", sans-serif !important;
}

body {
  font-size: 14px;
  min-width: 320px;
}
body.offcanvas-opened .site-header .svg-icon--mobile-menu {
  opacity: 0;
}

[v-cloak] {
  display: none !important;
}

.site-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.block-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.block-dark .site-button--theme.active{
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(181 162 110 / var(--tw-border-opacity));
}
.block-dark .site-button--round-dark{
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(181 162 110 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(181 162 110 / var(--tw-text-opacity));
}
.block-dark .site-button--round-dark.active{
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
}
.block-dark h1,
.block-dark h2,
.block-dark h3,
.block-dark h4,
.block-dark h5,
.block-dark h6{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.site-logo {
  flex: none;
  width: 120px;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .site-logo {
    width: 200px;
  }
}
.site-logo img {
  max-width: 100%;
}

ul li a.active{
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgb(181 162 110 / var(--tw-text-opacity));
}

.tab-show-enter-active,
.tab-show-leave-active {
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8);
}

.tab-show-enter,
.tab-show-leave-to {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(60px);
}

h1,
h2,
h3,
h4,
h5,
h6{
  --tw-text-opacity: 1;
  color: rgb(48 46 44 / var(--tw-text-opacity));
}

.site-breadcrumbs {
  font-size: 16px;
}
@media (min-width: 768px) {
  .site-breadcrumbs {
    font-size: 18px;
  }
}

.svg-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.svg-icon svg {
  display: block;
  fill: inherit;
  width: inherit;
  height: inherit;
}
.svg-icon--stroke {
  fill: none;
  stroke: currentColor;
}

.site-header__menu{
  font-size: 16px;
}
.site-header__menu ul{
  display: flex;
}
.site-header__menu li{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
@media (min-width: 1280px){
  .site-header__menu li{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.site-header__menu li a{
  --tw-text-opacity: 1;
  color: rgb(219 216 210 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.site-header__menu li a:hover{
  --tw-text-opacity: 1;
  color: rgb(181 162 110 / var(--tw-text-opacity));
}

.site-footer__social a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(181 162 110 / var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.site-footer__social a:hover {
  transform: scale(1.08);
}
.site-footer__social a .svg-icon {
  width: 20px;
  height: 20px;
  --tw-text-opacity: 1;
  color: rgb(20 20 20 / var(--tw-text-opacity));
}

.site-button {
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border-style: none;
  background-image: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 16px;
  font-weight: 700;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.site-button--round-light{
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(219 216 210 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.site-button--round-light:hover, .site-button--round-light.active{
  --tw-border-opacity: 1;
  border-color: rgb(181 162 110 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(181 162 110 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
}
.site-button--round-dark{
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(30 30 30 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.site-button--round-dark:hover, .site-button--round-dark.active{
  --tw-border-opacity: 1;
  border-color: rgb(181 162 110 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(181 162 110 / var(--tw-bg-opacity));
}
.site-button--theme{
  --tw-bg-opacity: 1;
  background-color: rgb(181 162 110 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(48 46 44 / var(--tw-text-opacity));
}
.site-button--theme.active{
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(219 216 210 / var(--tw-text-opacity));
}
.site-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.contacts-info-block{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

@media (min-width: 1280px){
  .contacts-info-block{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.contacts-info-block {
  background-image: url("/public/files/contacts-info-block.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 200px auto;
}
@media (min-width: 1024px) {
  .contacts-info-block {
    background-size: auto auto;
  }
}

.present-block {
  background-image: url("/public/files/present-block-pic.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 150% auto;
  padding-top: 80px;
}
@media (min-width: 768px) {
  .present-block {
    background-position: center 40px;
  }
}
@media (min-width: 1024px) {
  .present-block {
    background-position: 200px 40px;
    background-size: auto;
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .present-block {
    background-position: right bottom;
  }
}
.present-block__inner {
  padding-top: 120px;
  padding-bottom: 48px;
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .present-block__inner {
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
  }
}
@media (min-width: 1280px) {
  .present-block__inner {
    min-height: 900px;
    width: 50%;
  }
}
.present-block__inner:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.7) 40%, #141414 100%);
}
@media (min-width: 1024px) {
  .present-block__inner:before {
    content: none;
    display: none;
  }
}

.apartments-list__plan-svg {
  position: absolute;
  left: 0;
  top: 0;
}
.apartments-list__plan-svg polygon {
  cursor: pointer;
  fill: #ff8000;
  opacity: 0;
}
.apartments-list__plan-svg polygon:hover, .apartments-list__plan-svg polygon.active {
  opacity: 0.2;
}
.apartments-list .poly-point {
  pointer-events: none;
  position: absolute;
  z-index: 5;
  min-width: 34px;
  min-height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}
.pointer-events-none{
  pointer-events: none;
}
.visible{
  visibility: visible;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.sticky{
  position: sticky;
}
.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.top-0{
  top: 0px;
}
.z-10{
  z-index: 10;
}
.z-50{
  z-index: 50;
}
.-order-1{
  order: -1;
}
.m-2{
  margin: 0.5rem;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.-mx-3{
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.-mx-2{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mb-10{
  margin-bottom: 2.5rem;
}
.mt-10{
  margin-top: 2.5rem;
}
.mt-12{
  margin-top: 3rem;
}
.mr-5{
  margin-right: 1.25rem;
}
.mb-9{
  margin-bottom: 2.25rem;
}
.mb-6{
  margin-bottom: 1.5rem;
}
.-ml-2{
  margin-left: -0.5rem;
}
.mb-8{
  margin-bottom: 2rem;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.ml-10{
  margin-left: 2.5rem;
}
.mb-auto{
  margin-bottom: auto;
}
.mt-8{
  margin-top: 2rem;
}
.mt-14{
  margin-top: 3.5rem;
}
.ml-auto{
  margin-left: auto;
}
.ml-4{
  margin-left: 1rem;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.hidden{
  display: none;
}
.h-\[75px\]{
  height: 75px;
}
.h-10{
  height: 2.5rem;
}
.h-9{
  height: 2.25rem;
}
.h-\[394px\]{
  height: 394px;
}
.h-full{
  height: 100%;
}
.min-h-\[300px\]{
  min-height: 300px;
}
.w-1\/2{
  width: 50%;
}
.w-full{
  width: 100%;
}
.w-\[75px\]{
  width: 75px;
}
.w-10{
  width: 2.5rem;
}
.w-9{
  width: 2.25rem;
}
.w-12{
  width: 3rem;
}
.w-\[840px\]{
  width: 840px;
}
.min-w-\[178px\]{
  min-width: 178px;
}
.max-w-\[470px\]{
  max-width: 470px;
}
.max-w-\[260px\]{
  max-width: 260px;
}
.flex-none{
  flex: none;
}
.flex-1{
  flex: 1 1 0%;
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer{
  cursor: pointer;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-x-auto{
  overflow-x: auto;
}
.rounded-full{
  border-radius: 9999px;
}
.rounded-lg{
  border-radius: 0.5rem;
}
.rounded-xl{
  border-radius: 0.75rem;
}
.border-2{
  border-width: 2px;
}
.border-solid{
  border-style: solid;
}
.border-theme{
  --tw-border-opacity: 1;
  border-color: rgb(181 162 110 / var(--tw-border-opacity));
}
.border-neutral{
  --tw-border-opacity: 1;
  border-color: rgb(219 216 210 / var(--tw-border-opacity));
}
.bg-brand{
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity));
}
.p-2{
  padding: 0.5rem;
}
.p-3{
  padding: 0.75rem;
}
.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-0{
  padding-left: 0px;
  padding-right: 0px;
}
.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.pr-3{
  padding-right: 0.75rem;
}
.pl-3{
  padding-left: 0.75rem;
}
.pr-2{
  padding-right: 0.5rem;
}
.pb-4{
  padding-bottom: 1rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-\[60px\]{
  font-size: 60px;
}
.text-\[16px\]{
  font-size: 16px;
}
.text-\[22px\]{
  font-size: 22px;
}
.text-\[38px\]{
  font-size: 38px;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[18px\]{
  font-size: 18px;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-\[20px\]{
  font-size: 20px;
}
.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-\[25px\]{
  font-size: 25px;
}
.font-bold{
  font-weight: 700;
}
.font-semibold{
  font-weight: 600;
}
.font-black{
  font-weight: 900;
}
.leading-relaxed{
  line-height: 1.625;
}
.text-theme{
  --tw-text-opacity: 1;
  color: rgb(181 162 110 / var(--tw-text-opacity));
}
.text-neutral{
  --tw-text-opacity: 1;
  color: rgb(219 216 210 / var(--tw-text-opacity));
}
.text-brand-20{
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-neutral-20{
  --tw-text-opacity: 1;
  color: rgb(177 177 177 / var(--tw-text-opacity));
}
.text-neutral-30{
  --tw-text-opacity: 1;
  color: rgb(98 98 98 / var(--tw-text-opacity));
}
.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.placeholder\:italic::-moz-placeholder{
  font-style: italic;
}
.placeholder\:italic::placeholder{
  font-style: italic;
}
.hover\:scale-102:hover{
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:font-bold:hover{
  font-weight: 700;
}
.hover\:text-theme:hover{
  --tw-text-opacity: 1;
  color: rgb(181 162 110 / var(--tw-text-opacity));
}
.hover\:underline:hover{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.focus\:border-theme:focus{
  --tw-border-opacity: 1;
  border-color: rgb(181 162 110 / var(--tw-border-opacity));
}
.group:hover .group-hover\:scale-102{
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 768px){
  .md\:mt-0{
    margin-top: 0px;
  }
  .md\:flex{
    display: flex;
  }
  .md\:w-1\/2{
    width: 50%;
  }
  .md\:max-w-\[470px\]{
    max-width: 470px;
  }
  .md\:max-w-\[400px\]{
    max-width: 400px;
  }
  .md\:flex-nowrap{
    flex-wrap: nowrap;
  }
  .md\:items-center{
    align-items: center;
  }
  .md\:justify-end{
    justify-content: flex-end;
  }
  .md\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .md\:text-right{
    text-align: right;
  }
  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1024px){
  .lg\:order-1{
    order: 1;
  }
  .lg\:mt-0{
    margin-top: 0px;
  }
  .lg\:mb-0{
    margin-bottom: 0px;
  }
  .lg\:block{
    display: block;
  }
  .lg\:flex{
    display: flex;
  }
  .lg\:inline-flex{
    display: inline-flex;
  }
  .lg\:hidden{
    display: none;
  }
  .lg\:w-2\/5{
    width: 40%;
  }
  .lg\:w-3\/5{
    width: 60%;
  }
  .lg\:w-auto{
    width: auto;
  }
  .lg\:w-1\/3{
    width: 33.333333%;
  }
  .lg\:w-2\/6{
    width: 33.333333%;
  }
  .lg\:w-4\/6{
    width: 66.666667%;
  }
  .lg\:w-8\/12{
    width: 66.666667%;
  }
  .lg\:w-4\/12{
    width: 33.333333%;
  }
  .lg\:w-1\/2{
    width: 50%;
  }
  .lg\:min-w-\[200px\]{
    min-width: 200px;
  }
  .lg\:max-w-none{
    max-width: none;
  }
  .lg\:flex-1{
    flex: 1 1 0%;
  }
  .lg\:flex-row{
    flex-direction: row;
  }
  .lg\:flex-col{
    flex-direction: column;
  }
  .lg\:items-center{
    align-items: center;
  }
  .lg\:justify-end{
    justify-content: flex-end;
  }
  .lg\:justify-between{
    justify-content: space-between;
  }
  .lg\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .lg\:pl-8{
    padding-left: 2rem;
  }
  .lg\:pr-10{
    padding-right: 2.5rem;
  }
  .lg\:pr-16{
    padding-right: 4rem;
  }
  .lg\:pr-5{
    padding-right: 1.25rem;
  }
  .lg\:pl-5{
    padding-left: 1.25rem;
  }
  .lg\:text-\[22px\]{
    font-size: 22px;
  }
}
@media (min-width: 1280px){
  .xl\:my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .xl\:mb-20{
    margin-bottom: 5rem;
  }
  .xl\:mb-10{
    margin-bottom: 2.5rem;
  }
  .xl\:mb-auto{
    margin-bottom: auto;
  }
  .xl\:min-h-\[550px\]{
    min-height: 550px;
  }
  .xl\:w-5\/12{
    width: 41.666667%;
  }
  .xl\:w-1\/4{
    width: 25%;
  }
  .xl\:w-1\/3{
    width: 33.333333%;
  }
  .xl\:w-2\/3{
    width: 66.666667%;
  }
  .xl\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .xl\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .xl\:pr-20{
    padding-right: 5rem;
  }
  .xl\:pr-10{
    padding-right: 2.5rem;
  }
  .xl\:text-\[20px\]{
    font-size: 20px;
  }
}
