body {
    min-width: 320px;

    * {
        font-family: Roboto;
        font-weight: 400;
    }

    &.dark {
        background-color: theme('colors.main-10');
        color: theme('colors.white');
    }
}

[v-cloak] {
    display: none;
}

p {
    font-weight: inherit;
}
