.svg-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;

    svg {
        display: block;
        fill: inherit;
        width: inherit;
        height: inherit;
    }

    &--stroke {
        fill: none;
        stroke: currentColor;
    }

    &--slider-control {
        width: 24px;
        height: 48px;
        cursor: pointer;
        transition: all 0.3s;
        -webkit-tap-highlight-color: transparent;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }

        @screen md {
            width: 48px;
            height: 72px;
        }
    }
}
